<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Categories</h1>
    <ul id="category__list-container">
        {{{categoryHtml}}}
    </ul>
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-body">

                    {{!-- Create Form --}}
                    <form action="{{URL.CATEGORY_PROCESS}}"
                          method="POST"
                          id="category__create-form">
                        <input type="hidden"
                               name="_csrf"
                               value="{{csrfToken}}">

                        <div class="form-group">
                            <label>Title</label>
                            <input type="text"
                                   name="title"
                                   value="{{title}}"
                                   class="form-control {{#if errors.title}}is-invalid{{/if}}">
                            {{#if errors.title}}
                            <div class="invalid-feedback">
                                {{errors.title}}
                            </div>
                            {{/if}}
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <input type="text"
                                   name="description"
                                   value="{{description}}"
                                   class="form-control {{#if errors.description}}is-invalid{{/if}}">
                            {{#if errors.description}}
                            <div class="invalid-feedback">
                                {{errors.description}}
                            </div>
                            {{/if}}
                        </div>

                        <div class="form-group">
                            <label>Parent Category</label>
                            <select name="parent-id"
                                    class="form-control">
                                <option value=""
                                        selected="selected"></option>
                                {{#each categories as |cate|}}
                                <option value="{{cate.id}}">{{cate.title}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <button class="btn btn-success"
                                type="submit">Create</button>
                    </form>

                    {{!-- Update Form --}}
                    <form action=""
                          method="POST"
                          id="category__update-form"
                          style="display: none;">

                        <div class="form-group">
                            <label>ID</label>
                            <input type="text"
                                   id="category__id-input"
                                   name="id"
                                   class="form-control"
                                   disabled="disabled">
                        </div>

                        <div class="form-group">
                            <label>Title</label>
                            <input type="text"
                                   id="category__title-input"
                                   name="name"
                                   class="form-control is-invalid">
                            <div class="invalid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <input type="text"
                                   name="description"
                                   id="category__description-input"
                                   class="form-control is-invalid">
                            <div class="invalid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Parent Category</label>
                            <select id="category__parent-id-input"
                                    class="form-control">
                                <option value=""></option>
                                {{#each categories as |cate|}}
                                <option value="{{cate.id}}">{{cate.title}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <button class="btn btn-success"
                                type="button"
                                onclick="processUpdate()">Update</button>
                        <button class="btn btn-primary"
                                type="button"
                                id="category__create-btn">Create new category</button>
                        <button class="btn btn-danger"
                                type="button"
                                id="category__delete-btn">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="{{URL.CATEGORY_JS}}"></script>
</div>
<!-- /.container-fluid -->