<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
       href="{{ URL.HOME }}">
        <div class="sidebar-brand-icon">
            <img src="/img/black-brand-cropped.png"
                 alt="jungtin icon"
                 id="sidebar-brand__img-mini">
        </div>
        <div class="sidebar-brand-text mx-3">
            <img src="/img/black-brand.png"
                 alt="jungtin icon"
                 id="sidebar-brand__img">
        </div>
        {{!-- <div class="sidebar-brand-text mx-3">JungTin</div> --}}
    </a>

    <hr class="sidebar-divider">

    {{!-- Staff --}}
    <div class="sidebar-heading">
        Staff Management
    </div>

    <li class="nav-item">
        <a class="nav-link"
           href="#">
            <i class="fas fa-users"></i>
            <span>Roles</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed"
           href="#"
           data-toggle="collapse"
           data-target="#collapse1">
            <i class="fas fa-user"></i>
            <span>Users</span>
        </a>
        <div id="collapse1"
             class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                {{!-- <h6 class="collapse-header">Custom Components:</h6> --}}
                <a class="collapse-item"
                   href="#">
                    <i class="fas fa-plus collapse-icon"></i>
                    <span class="collapse-title">Create</span></a>
                <a class="collapse-item"
                   href="#">Listing</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    {{!-- Blog --}}
    <div class="sidebar-heading">
        Blog
    </div>

    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link"
           href="{{URL.CATEGORY}}">
            <i class="fas fa-clipboard"></i>
            <span>Category</span></a>
    </li>

    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link collapsed"
           href="#"
           data-toggle="collapse"
           data-target="#collapse2">
            <i class="fas fa-paste"></i>
            <span>Posts</span>
        </a>
        <div id="collapse2"
             class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                {{!-- <h6 class="collapse-header">Custom Components:</h6> --}}
                <a class="collapse-item"
                   href="{{URL.POST_CREATE}}">
                    <i class="fas fa-plus collapse-icon"></i>
                    <span class="collapse-title">Create</span></a>
                <a class="collapse-item"
                   href="{{URL.POST}}">Listing</a>
            </div>
        </div>
    </li>

    <!-- Nav Item -->
    <li class="nav-item">
        <a class="nav-link"
           href="{{URL.MEDIA}}">
            <i class="fas fa-clipboard"></i>
            <span>Media</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0"
                id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->