<section class="ftco-section ftco-bread">
    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-md-8 ftco-animate">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
                <h1 class="bread">Read Our Blog</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        {{#each posts as |post|}}
                        <div class="blog-entry ftco-animate d-md-flex">
                            <a href="{{@root.URL.BLOG_POST}}/{{post.id}}"
                               class="img img-2"
                               style="background-image: url({{post.thumbnail}});"></a>
                            <div class="text text-2 p-4">
                                <h3 class="mb-2"><a href="{{@root.URL.BLOG_POST}}/{{post.id}}">{{post.title}}</a>
                                </h3>
                                <div class="meta-wrap">
                                    <p class="meta">
                                        <span>{{createdAt}}</span>
                                        <span><a href="single.html">{{post.Category.title}}</a></span>
                                        <span>5 Comment</span>
                                    </p>
                                </div>
                                <p class="mb-4">{{post.description}}</p>
                                <p><a href="{{@root.URL.BLOG_POST}}/{{post.id}}"
                                       class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                            </div>
                        </div> {{!-- END Blog Item --}}
                        {{/each}}
                    </div>
                </div><!-- END-->
                <div class="row">
                    <div class="col">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{> main/blog-sidebar}}
        </div>
    </div>
</section>